.topBarContainer {
  width: 100%;
  height: 50px;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.topBarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  font-style: oblique;
  color: #ffff;
  cursor: pointer;
}

.topBarCenter {
  flex: 5;
}

.searchBar {
  width: 100%;
  height: 30px;
  background-color: #ffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topBarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffff;
}

.topBarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topBarIcons {
  display: flex;
  justify-content: space-between;
}

.topIcon {
  margin-left: 10px;
  font-size: 20px;
}

.topBarIconsItem {
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
}

.topBarIconBadge {
  width: 30px;
  height: 15px;
  background-color: red;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  color: #ffff;
  position: relative;
  top: -12px;
  left: -1px;
}

.topBarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
